@model IEnumerable<EnergyCompany.Models.contract>

@{
    ViewBag.Title = "Договоры";
}

<h2>Договоры</h2>

@using (Html.BeginForm("Search", "contracts"))
{
    <div class="form-group">
        <div class="col-md-12" style="padding-left: 0">
            <input type="text" name="searchText" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12" style="padding-left: 0">
            <input type="submit" value="Поиск" class="btn btn-default" />
        </div>
    </div>
}

<p>
    @Html.ActionLink("Create", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Дата заключения
        </th>
        <th>
            Дата окончания
        </th>
        <th>
            Имя клиента
        </th>
        <th>
            Имя тарифа
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date_start)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_end)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.client.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tariff.name)
        </td>
        <td>
            @if (User.IsInRole("Admin"))
            { 
            @Html.ActionLink("Редактировать", "Edit", new { id=item.id }) @ViewBag.stick
            @Html.ActionLink("Подробнее", "Details", new { id=item.id }) @ViewBag.stick
            @Html.ActionLink("Удалить", "Delete", new { id=item.id })
            }
        </td>
    </tr>
}

</table>
