@model IEnumerable<EnergyCompany.Models.contract>

@{
    ViewBag.Title = "Поиск";
}

<h2>Результаты поиска</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Имя клиента")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.client.name)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.id }) |
                @Html.ActionLink("Подробнее", "Details", new { id = item.id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>