@model IEnumerable<EnergyCompany.Models.contract>

@{
    ViewBag.Title = "Поиск";
}

<h2>Результаты поиска</h2>

<table class="table">
    <tr>
        <th>
            Дата заключения
        </th>
        <th>
            Дата окончания
        </th>
        <th>
            Имя клиента
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.date_start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_end)
            </td>
            <td>
                @Html.ActionLink(@Html.DisplayFor(modelItem => item.client.name).ToString(), "Search", "clients", new { searchText = item.client.name }, null)
            </td>

            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.id }) |
                @Html.ActionLink("Подробнее", "Details", new { id = item.id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>