@model EnergyCompany.Models.tariff

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tariff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.day_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.day_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.night_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.night_price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Назад", "Index")
</p>
