@model IEnumerable<EnergyCompany.Models.collector>

@{
    ViewBag.Title = "Счетчики";
}

<h2>Счетчики</h2>

<p>
    @Html.ActionLink("Create", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Номер счетчика
        </th>
        <th>
            Потрачено днем кВт
        </th>
        <th>
            Потрачено ночью кВт
        </th>
        <th>
            Имя клиента
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.day_used)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.night_used)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.client.name)
        </td>
        <td>
            @if (User.IsInRole("Admin"))
            { 
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) 
            @Html.ActionLink("Детали", "Details", new { id=item.id }) 
            @Html.ActionLink("Удалить", "Delete", new { id=item.id })
            }
        </td>
    </tr>
}

</table>
