@model IEnumerable < EnergyCompany.Models.contract>

@{
    ViewBag.Title = "Результаты";
}

<h2>Результат запроса</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Имя клиента")
        </th>
        <th>
            @Html.DisplayName("Адрес дома, зарегистрированного контрактом")
        </th>
        <th>
            @Html.DisplayName("Тариф")
        </th>
        <th></th>
    </tr>



    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.client.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.client.adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tariff.name)
            </td>
        </tr>
    }

</table>
