@model IEnumerable<EnergyCompany.Models.client>

@{
    ViewBag.Title = "Клиенты";
}

<h2>Клиенты</h2>

@using (Html.BeginForm("Search", "clients"))
{
    <div class="form-group">
        <div class="col-md-12" style="padding-left: 0">
            <input type="text" name="searchText" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12" style="padding-left: 0">
            <input type="submit" value="Поиск" class="btn btn-default" />
        </div>
    </div>
}

<p>
    @Html.ActionLink("Create", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Имя клиента
        </th>
        <th>
            Адрес дома, зарегистрированного контрактом 
        </th>
        <th></th>
    </tr>



@foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adress)
        </td>
        <td>
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Редактировать", "Edit", new { id = item.id }) @ViewBag.stick
                @Html.ActionLink("Детали", "Details", new { id = item.id }) @ViewBag.stick
                @Html.ActionLink("Удалить", "Delete", new { id = item.id }) 
            }
        </td>
    </tr>
}

</table>
