@model EnergyCompany.Models.bill

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>bill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.payment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.client.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.client.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.collector.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.collector.id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Назад", "Index")
</p>
