@model IEnumerable<EnergyCompany.Models.bill>

@{
    ViewBag.Title = "Счета";
}

<h2>Счета</h2>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Счет
        </th>
        <th>
            Имя клиента
        </th>
        <th>
            Номер счетчика
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.payment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.client.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.collector.id)
        </td>
        <td>
            @if (User.IsInRole("Admin"))
            { 
            @Html.ActionLink("Редактировать", "Edit", new { id=item.id }) 
            @Html.ActionLink("Подробно", "Details", new { id=item.id }) 
            @Html.ActionLink("Удалить", "Delete", new { id=item.id }) 
            @Html.ActionLink("Вычислить", "Calculate", new { id_client = item.id_client, id = item.id })
            }
        </td>
    </tr>
}

</table>
