@model IEnumerable<EnergyCompany.Models.bill>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.payment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.client.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.collector.id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.payment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.client.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.collector.id)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.id }) |
            @Html.ActionLink("Подробно", "Details", new { id=item.id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.id })
            @Html.ActionLink("Удалить", "Calculate", new { id = item.id })
        </td>
    </tr>
}

</table>
